<!-- Modal -->
<div class="modal fade" id="device-detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content" style="padding:5%;">
            <div class="modal-head">
                <h1 style="position: absolute;margin-top: -10px;">设备详细页</h1>
            </div>

            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#device_info" data-toggle="tab">Info</a></li>
                    <li><a href="#device_loc" data-toggle="tab">Location</a></li>
                    <li><a href="#device_app" data-toggle="tab">App</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" style="min-height:600px">
                    <div class="tab-pane active" id="device_info">
                        <div class="well">
                            <h4 class="green smaller lighter">loc_interval:</h4>
                            <span id="loc_interval"></span>
                        </div>
                        <div class="well">
                            <h4 class="green smaller lighter">loc_mode:</h4>
                            <span id="loc_mode"></span>
                        </div>
                        <div class="well">
                            <h4 class="green smaller lighter">did:</h4>
                            <span id="did"></span>
                        </div>
                        <div class="well">
                            <h4 class="green smaller lighter">cid:</h4>
                            <span id="cid"></span>
                        </div>
                        <div class="well">
                            <h4 class="green smaller lighter">imei:</h4>
                            <span id="imei"></span>
                        </div>
                    </div>
                    <div class="tab-pane" id="device_loc">
                        <div id="allmap" style="width: 95%;height: 600px;overflow: hidden;margin:0;"></div>
                    </div>
                    <div class="tab-pane" id="device_app">
                        <table id="device_app_list" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>appName</th>
                                    <th>appId</th>
                                    <th>version</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <div class="table-header">设备激活列表</div>
    <table id="device_active_list" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>uid</th>
                <th>owner</th>
                <th>tid</th>
                <th>active_code</th>
                <th><i class="icon-time bigger-110 hidden-480"></i>time</th>
                <th>active</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- page specific plugin scripts -->

<script src="static/assets/js/jquery.dataTables.min.js"></script>
<script src="static/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="static/js/device/active.js"></script>
