<div class="table-responsive">
    <div class="table-header">设备激活列表</div>
    <table id="device_active_list" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th style="width:100px">设备名</th>
                <th>所有人</th>
                <th>SN号</th>
                <th>设备型号</th>
                <th>设备系统</th>
                <th><i class="icon-time bigger-110 hidden-480"></i>注册时间</th>
                <th><i class="icon-time bigger-110 hidden-480"></i>最后上报时间</th>
                <th>操作1</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- page specific plugin scripts -->

<script src="static/assets/js/jquery.dataTables.min.js"></script>
<script src="static/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="static/js/device/active.js"></script>