<div class="row">
	<div class=" col-xs-12">
		<div id="task-tab" class="tab-pane active">
			<h4 class="smaller lighter green"><i class="icon-list"></i>操作步骤&nbsp;<small>请尽快完成</small></h4>
			<ul id="tasks" class="item-list">
				<li class="item-orange clearfix">
					<label class="inline"><span class="lbl"><a href="#">1.配置邮件服务器</a></span></label>
					<div class="pull-right "><span class="percent">90</span>%</div>
				</li>
				<li class="item-orange clearfix">
					<label class="inline"><span class="lbl"><a href="#">2.配置策略</a></span></label>
					<div class="pull-right "><span class="percent">42</span>%</div>
				</li>
				<li class="item-orange clearfix">
					<label class="inline"><span class="lbl"><a href="#">3.配置黑名单</a></span></label>
					<div class="pull-right "><span class="percent">10</span>%</div>
				</li>
				<li class="item-orange clearfix">
					<label class="inline"><span class="lbl"><a href="#">4.注册设备</a></span></label>
					<div class="pull-right "><span class="percent">20</span>%</div>
				</li>
			</ul>
		</div>
	</div>
</div>
