<div class="row">
	<div class="space-6"></div>
	<div class="col-sm-12 infobox-container">
		<div class="infobox infobox-red ">
			<div class="infobox-data">
				<span class="infobox-data-number" id ="last7_lost_controll_devices"></span>
				<div class="infobox-content"><a href="javascript:void(0)" onclick="show_page(#)" class="infobox-black">最近七天失去控制的设备</a></div>
			</div>
		</div>
		<div class="infobox infobox-red  ">
			<div class="infobox-data">
				<span class="infobox-data-number" id="root_devices"></span>
				<div class="infobox-content"><a href="javascript:void(0)" onclick="show_page(#)" class="infobox-black">越狱或破解的设备</a></div>
			</div>			
		</div>
		<div class="infobox infobox-red  ">
			<div class="infobox-data">
				<span class="infobox-data-number" id="last7_noncompliance_devices"></span>
				<div class="infobox-content"><a href="javascript:void(0)" onclick="show_page(#)" class="infobox-black">最近七天违反策略的设备</a></div>
			</div>
		</div>
	    <div class="infobox infobox-brown">
			<div class="infobox-data">
				<span class="infobox-data-number" id="last7_new_devices"></span>
				<div class="infobox-content">
					<a href="#" class="infobox-black">最近七天添加的设备</a>		
				</div>
			</div>
		</div>
		<div class="infobox infobox-red  ">
			<div class="infobox-data">
				<span class="infobox-data-number" id="china_unicom_devices"></span>
				<div class="infobox-content"><a href="javascript:void(0)" onclick="show_page(#)" class="infobox-black">联通设备</a></div>
			</div>
		</div>
		<div class="infobox infobox-orange2  ">
			<div class="infobox-data">
				<span class="infobox-data-number" id="china_mobile_devices"></span>
				<div class="infobox-content"><a href="javascript:void(0)" onclick="show_page(#)" class="infobox-black">移动设备</a></div>
			</div>
		</div>
	    <div class="infobox infobox-orange2">
			<div class="infobox-data">
				<span class="infobox-data-number" id="china_telecom_devices"></span>
				<div class="infobox-content"><a href="javascript:void(0)" onclick="show_page(#)" class="infobox-black">电信设备</a></div>
			</div>
		</div>
		<div class="space-6"></div>
		<div class="infobox infobox-green infobox-small infobox-dark">
	        <div class="infobox-icon"><i class=" icon-bar-chart"></i></div>
			<div class="infobox-data">
				<div class="infobox-content" id="device_amount"></div>
				<div class="infobox-content">设备数量</div>
			</div>
		</div>
		<div class="infobox infobox-blue infobox-small infobox-dark">
	        <div class="infobox-icon">
				<i class="icon-group"></i>
			</div>
			<div class="infobox-data">
				<div class="infobox-content" id="user_amount"></div>
				<div class="infobox-content">用户数量</div>
			</div>
		</div>
		<div class="infobox infobox-orange2 infobox-small infobox-dark">
			<div class="infobox-icon">
				<i class="icon-qrcode"></i>
			</div>
			<div class="infobox-data">
				<div class="infobox-content" id="app_amount"></div>
				<div class="infobox-content">应用数量</div>
			</div>
		</div>
	</div>
</div>