<style type="text/css">
.dd-draghandle{max-width: none;}
</style>

<div class="row">
	<div class="col-sm-12">
		<div class="dd dd-draghandle">
			<ol class="dd-list">
				<li class="dd-item dd2-item" data-id="13" id="partial_statistics">
					<div class="dd-handle dd2-handle">
						<i class="normal-icon icon-comments blue bigger-130"></i>
						<i class="drag-icon icon-move bigger-125"></i>
					</div>
					<div class="dd2-content row" style="">

						<%include file="partial/home/statistic.html"/><div style='display:none'>%></div>

					</div>
				</li>

				<li class="dd-item dd2-item" data-id="14" id="partial_partial2">
					<div class="dd-handle dd2-handle">
						<i class="normal-icon icon-time pink bigger-130"></i>
						<i class="drag-icon icon-move bigger-125"></i>
					</div>
					<div class="dd2-content">

						<%include file="partial/home/partial2.html"/><div style='display:none'>%></div>

					</div>
				</li>

				<li class="dd-item dd2-item" data-id="15" id="partial_partial3">
					<div class="dd-handle dd2-handle">
						<i class="normal-icon icon-time pink bigger-130"></i>
						<i class="drag-icon icon-move bigger-125"></i>
					</div>
					<div class="dd2-content">

						<%include file="partial/home/partial3.html"/><div style='display:none'>%></div>

					</div>
				</li>

				<li class="dd-item dd2-item" data-id="16" id="partial_partial4">
					<div class="dd-handle dd2-handle">
						<i class="normal-icon icon-time pink bigger-130"></i>
						<i class="drag-icon icon-move bigger-125"></i>
					</div>
					<div class="dd2-content">

						<%include file="partial/home/partial4.html"/><div style='display:none'>%></div>

					</div>
				</li>

			</ol>
		</div>
	</div>
</div>

<!-- page specific plugin scripts -->
<script src="static/assets/js/jquery.nestable.min.js"></script>
<script src="static/js/home.js"></script>

<script type="text/javascript">
	jQuery(function($){
		$('.dd').nestable();
		$('.dd-handle a').on('mousedown', function(e){
			e.stopPropagation();
		});
		$('[data-rel="tooltip"]').tooltip();
	});
</script>



<!-- PAGE CONTENT ENDS -->