<div class="modal fade" id="policy-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 40%;padding-top:120px;">
        <div class="modal-content" style="padding:5%;padding-bottom:0;">
            <div class="modal-head">
                <div class="center">
                    <h3 style="margin-top: -5px;font-weight:bold;">添加策略</h3>
                </div>
            </div>

            <div class="modal-body" style="margin-top: 15px;border-top: 1px solid #ccc;">
                <div class="tabbable">
                    <!--Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#policy-info" data-toggle="tab">策略信息</a></li>
                        <li><a href="#policy_pwd" data-toggle="tab">密码限制</a></li>
                        <li><a href="#policy_device_limit" data-toggle="tab">设备限制</a></li>
                        <li><a href="#policy_net_limit" data-toggle="tab">网络限制</a></li>
                        <li><a href="#policy_wifi" data-toggle="tab">Wi-Fi</a></li>
                    </ul>

                    <!--Tab panes -->
                    <div class="tab-content" style="min-height:150px;margin-bottom:15px;">
                        <div class="tab-pane active" id="policy-info">
                            <form id="policy-add-form" class="form-horizontal" role="form" action="/policies" method="post">
                                <input type="hidden" id='policy_id' class="col-xs-10 col-sm-5" name="policy_id" value="0"/>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                                        策略名称
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="text" id='policy_name'placeholder="策略名称" class="col-xs-10 col-sm-10" name="policy_name"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                                        策略平台
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="text" id='platform' placeholder="策略平台" class="col-xs-10 col-sm-10" name="platform"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                                        策略内容
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="text" id='content' placeholder="策略内容" class="col-xs-10 col-sm-10" name="content"/>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                        <div class="tab-pane" id="policy_pwd">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    需要设置密码
                                </label>
                            </div>
                            <div class="select">
                                <label class="col-sm-3 no-padding-right" for="form-field-1">
                                    屏幕锁定时间
                                </label>
                            </div>
                            <div id="policy_locktime">
                                <label>
                                    <select class="form-control" size="1">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </label>
                                    
                            </div>
                        </div>
                        <div class="tab-pane" id="policy_device_limit">
                            <div id="allmap" style="width: 95%;height: 600px;overflow: hidden;margin:0;"></div>
                        </div>
                        <div class="tab-pane" id="policy_net_limit">
                            <div class="callslimit">
                                <label>
                                    <input type="checkbox" value="">
                                    只能拨打紧急电话
                                </label>
                            </div>
                            <div class="msglimit">
                                <label>
                                    <input type="checkbox" value="">
                                    禁止发送短信
                                </label>
                            </div>
                            <div class="wifilimit">
                                <label>
                                    <input type="checkbox" value="">
                                    禁止使用wifi
                                </label>
                            </div>
                        </div>
                            
                        <div class="tab-pane" id="policy_wifi">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> wifi名称 </label>
                                    <div class="col-sm-9">
                                        <input type="text" placeholder="wifi名称" class="col-xs-10 col-sm-10" name="wifi_name"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> wifi密码 </label>
                                    <div class="col-sm-9">
                                        <input type="text" placeholder="wifi密码" class="col-xs-10 col-sm-10" name="wifi_pwd"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right" style="text-align: right;">
                    <button class="btn btn-info" type="button" onclick="policy_add()" style="padding: 0 6px;">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="modal fade" id="policy-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content" style="padding:5%;">
            <div class="modal-head">
                <h1 style="position: absolute;margin-top: -10px;">添加消息</h1>
            </div>
            <div class="modal-body">
                <form id="policy-add-form" class="form-horizontal" role="form" action="/policies" method="post">
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 策略名称 </label>
                        <div class="col-sm-9">
                            <input type="text" placeholder="标题" class="col-xs-10 col-sm-5" name="policy_name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 内容 </label>
                        <div class="col-sm-9">
                            <textarea placeholder="内容" class="col-xs-10 col-sm-5" name="platform" rows="6" ></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 内容 </label>
                        <div class="col-sm-9">
                            <textarea placeholder="内容" class="col-xs-10 col-sm-5" name="content" rows="6" ></textarea>
                        </div>
                    </div>
                    <button class="btn btn-info" type="button" onclick="policy_add()">
                        <i class="icon-ok bigger-110"></i>
                        添加
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>-->



<div class="modal fade" id="policy-pull" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 40%;padding-top:120px;">
        <div class="modal-content" style="padding:5%;padding-bottom:0;">
            <div class="modal-head">
                <div class="center">
                    <h3 style="margin-top: -5px;font-weight:bold;">推送策略</h3>
                </div>
            </div>
            <div class="modal-body" style="margin-top: 15px;border-top: 1px solid #ccc;">
                <table id="device-list" class="table table-striped table-bordered table-hover">                    
                    <thead>
                        <tr>
                            <th></th>
                            <th>拥有人</th>
                            <th>手机号</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="right" style="text-align: right;">
                    <button class="btn btn-info" type="button" onclick="policy_push()" style="padding: 0 6px;">
                            提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="modal fade" id="policy-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 80%;">
        <div class="modal-content" style="padding:5%;">
            <div class="modal-head">
                <h1 style="position: absolute;margin-top: -10px;">编辑策略</h1>
            </div>

            <div class="modal-body">
                <div class="tabbable">
                    
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#policy-info" data-toggle="tab">策略信息</a></li>
                        <li><a href="#policy_pwd" data-toggle="tab">密码限制</a></li>
                        <li><a href="#policy_device_limit" data-toggle="tab">设备限制</a></li>
                        <li><a href="#policy_net_limit" data-toggle="tab">网络限制</a></li>
                        <li><a href="#policy_wifi" data-toggle="tab">Wi-Fi</a></li>
                    </ul>

                    
                    <div class="tab-content" style="min-height:600px">
                        <div class="tab-pane active" id="policy-info">
                            <form id="policy-edit-form" class="form-horizontal" role="form" action="/policies/detail" method="get">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                                        策略名称
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="text" id="policy_name"placeholder="value" class="col-xs-10 col-sm-5" name="policy_name"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                                        策略平台
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="text" id="platform" placeholder="安卓" class="col-xs-10 col-sm-5" name="platform" disabled/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">
                                        策略内容
                                    </label>
                                    <div class="col-sm-9">
                                        <input type="text" id="content" placeholder="策略内容" class="col-xs-10 col-sm-5" name="content"/>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                        <div class="tab-pane" id="policy_pwd">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="">
                                    需要设置密码
                                </label>
                            </div>
                            <div class="select">
                                <label class="col-sm-3 no-padding-right" for="form-field-1">
                                    屏幕锁定时间
                                </label>
                            </div>
                            <div id="policy_locktime">
                                <label>
                                    <select class="form-control" size="1">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </label>
                                    
                            </div>
                        </div>
                        <div class="tab-pane" id="policy_device_limit">
                            <div id="allmap" style="width: 95%;height: 600px;overflow: hidden;margin:0;"></div>
                        </div>
                        <div class="tab-pane" id="policy_net_limit">
                            <div class="callslimit">
                                <label>
                                    <input type="checkbox" value="">
                                    只能拨打紧急电话
                                </label>
                            </div>
                            <div class="msglimit">
                                <label>
                                    <input type="checkbox" value="">
                                    禁止发送短信
                                </label>
                            </div>
                            <div class="wifilimit">
                                <label>
                                    <input type="checkbox" value="">
                                    禁止使用wifi
                                </label>
                            </div>
                        </div>
                            
                        <div class="tab-pane" id="policy_wifi">
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> wifi名称 </label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="wifi名称" class="col-xs-10 col-sm-5" name="wifi_name"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> wifi密码 </label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="wifi密码" class="col-xs-10 col-sm-5" name="wifi_pwd"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-info" type="button" onclick="policy_modify()">
                    <i class="icon-ok bigger-110"></i>
                    修改
                </button>
            </div>
        </div>
    </div>
</div>-->








<div class="table-responsive">
    <div class="table-header">
        <span>策略列表</span>
        <button class="btn btn-success"  data-toggle="modal" data-target="#policy-add" style="height: 38px;line-height:16px;float:right;">添加策略</button>
    </div>
    <table id="policy-list" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th id="policy-list1">策略id</th>
                <th id="policy-list2">策略名</th>
                <th id="policy-list3">平台</th>
                <th id="policy-list4">创建时间</th>
                <th id="policy-list5"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


<!--<button class="confirm" type="button">Delete the comment</button>-->


<!-- page specific plugin scripts -->

<script src="static/assets/js/jquery.dataTables.min.js"></script>
<script src="static/assets/js/jquery.dataTables.bootstrap.js"></script>
<script src="static/assets/js/jquery.form.js"></script>
<script src="static/assets/js/jquery.confirm.js"></script>
<script src="static/js/policy/list.js"></script>
<!--<script src="static/js/device/list.js"></script>-->

<!--
<script>
$(".confirm").confirm({
    text: "Are you sure you want to delete that comment?",
    title: "Confirmation required",
    confirm: function(button) {
        // do something
    },
    cancel: function(button) {
        // do something
    },
    confirmButton: "Yes I am",
    cancelButton: "No",
    post: true
});
</script>
-->
<script>
    document.getElementById("policy-list1").style.width = "auto";
    document.getElementById("policy-list2").style.width = "auto";
    document.getElementById("policy-list3").style.width = "auto";
    document.getElementById("policy-list4").style.width = "auto";
    document.getElementById("policy-list5").style.width = "137px";
</script>